{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
